<!--vidu cua thay-->
<!DOCTYPE html>
<html>
 <head>
   <title>Hello, World!</title>
   <link rel="stylesheet" href="styles.css" />
   <!--  Có thể thay type bằng LANGUAGE="JavaScript" -->
   <script type="text/JavaScript">
      function doiMau() {
        var bien=document.f1.t1.value;
        document.bgColor = bien;
      }
    </script>
 </head>
 <body>
    <h1>Đổi màu nền</h1>
    <form name="f1" action="" method="get">
      <input type="text" name="t1" id="" value="" />
      <input type="button" name="b1" id="b1" value="OK" onclick="doiMau()" />
    </form>
 </body>
</html>